@media screen and ( max-width: 500px){

body{
   /* font-family: "Open Sans", sans-serif; */
   font-family:  'Montserrat', sans-serif;
}
    
.mySidenav a{
    font-weight: 400;
    font-size: 20px;
    padding: 8px;
    width: fit-content;
}


.first-inner{
    padding-left: 10px;
    padding-right: 10px;
}

.head-logo-and-links{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar.scrolled {
    padding: 10px 15px;
}

.menu{
    font-size: 15px;
}

.logos{
    width: 90px;
    height: 25px;
}

.home-content-container{
    padding: 0;
    margin-top: 0px;
}

.break{
    display: none;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 17.5px;
}



.app-button img {
    height: 24px;
}


.positionLinkRight.is-visible{
    animation: slideInRight 1.05s ease-in-out forwards;
}

.positionLinkLeft.is-visible{
    animation: slideInLeft 1.05s ease-in-out forwards;
}




/*********************/
/*********************/
/* FIRST CONTAINER */
/*********************/
/*********************/

.div1{
    padding: 40px 12px;
    box-sizing: border-box;
}


@keyframes slideInCenterMobile {
  0% {
        font-size: 0px;
        opacity: 0;
    }
20% {
        font-size: 5px;
        opacity: 0.2;
    }
40% {
        font-size: 10px;
        opacity: 0.4;
    }
60% {
        font-size: 15px;
        opacity: 0.6;
    }
    
80% {
        font-size: 19px;
        opacity: 0.8;
    }
    
100% {
        font-size: 23px;
        opacity: 1;
    }

}

.div1 h1{
    font-size: 1.75rem; /* 28px */
    line-height: 2rem; 
    text-align: center;
    color: #ffffff;
    margin-bottom: 1.5rem;
    opacity: 0;
}

.div1.is-visible h1{
    animation: slideInCenterMobile 1.15s ease-out forwards;
}

.div1 p{
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.div2{
    padding: 20px;
}

.app-button{
    width: 200px;
}

   .link-buttons{
    display: flex;
    flex-direction: column;
   }

   .link-buttons a{
    padding: 8px 12px;
    margin-bottom: 20px;
    background: #00d2ff;
    border-radius: 8px;
    font-weight: 200;
    transition: 0.5s;
    
}

   #apple{
     margin-left: 15px ;
   }

.link-buttons a:hover{
    color: #00d2ff;
    padding: 8px 12px;
    background: transparent;
    border-radius: 8px;
    font-weight: 200;
    cursor: pointer;
    
}

/* second container */
.testimonial-text {
    font-size: 16px;
    line-height: 1.6;
}

.lenoDesign{
    font-size: 16px;
    line-height: 1.6;
}


/*********************/
/*********************/
/* THIRD CONTAINER */
/*********************/
/*********************/

.latch-menu{
    display: block;
    text-align: center;
}

.latch1{
    margin-right: 70px;
    margin-left: 70px; 
     padding: 10px 0px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.latch2{
    margin-right: 40px;
    padding: 10px 0px 5px 0px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.latch3{
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px 0px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.configuring{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 40px 0px;
    padding-right: 10px;
}

.configure1ai {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start;
   padding-left: 10px;
 }

 .configure2 img{
    width:99% ;
 }

 .configure3ai{
    padding-left: 10px;
 }

.configure1ai p, .configure3ai p{
    font-size: 12px;
    text-align: start;
 }

 .configure3aii, .configure1aii{
    padding-right: 0px;
 }


 .track{
    padding-left: 10px;
 }

 .configure3{
    padding-left: 10px;
 }

 .trackingImg img{
    width: 100%;
    padding-left: 20px;  
    
}

 .trackingOtherText{
    padding-left: 10px;
 }

 .trackingHeaderText h1{
    padding-left: 20px;
}

.trackingHeaderText p{
    padding-left: 20px; 
    text-align: left; 
}

.tracking3a{
    align-items:center;
    justify-content: center;
}

.tracking3ai{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.tracking3ai h4{
    text-align:start;
}

.tracking3ai p{
    text-align: start;
    padding-left: 0;
}

.monitor{
    padding-left: 10px;
}


@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(120px);
        transition: all 0.8s ease;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.monitoringFooterText.is-visible{
    animation: slideInUp 1.15s ease-out forwards;
}

.monitoringFooterText h1 , .monitoringFooterText p{
    padding-left: 35px;
  }

 .monitoringFooterText p{
    text-align: left;
 }

 .monitoringImg{
    width: 100%;
    padding-left: 15px;
 }

 .monitoringImg.is-visible{
    animation: slideInUp 1.15s ease-out forwards;
 }

 .monitoringImg img{
   width: 100%;
 }

 /*********************/
/*********************/
/* FOURTH CONTAINER */
/*********************/
/*********************/

.fourth-inner{
   background-position: center;
   background-size: contain;
}


.previewText p{
    text-align: center;
    padding: 8px;
    font-size: 14px;
    padding-top: 0px;
}

.previewinner{
    margin: 18px;
    background-position: center;
    height: 205px;
}

.play{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid lightseagreen;
    padding: 15px 17.5px;
    background-color: transparent;
    transition: ease-in-out 0.5s;
}

/*********************/
/*********************/
/* Fifth CONTAINER */
/*********************/
/********************/
.fifth-inner{
    padding: 25px 20px 25px 30px;
}

.details{
    padding: 0;
}

.detailsImg{
    width: 90%;
}

.detailsImg img{
    width: 100%;
}

.detailsText p{
 font-size: 12.52px;
 line-height: 1.4;
 padding-top: 7px;
}

.lightboxbtn{
     padding: 15px 30px;
     margin-top: -20px;
}

#calendars{
    padding-left: 0;
}

#users{
    font-size: 10px;
}

.achievements{
   padding: 7px;
   padding-top: 22px;
}

.numba{
font-size: 10px;
color: white;
}

.happy p{
    line-height: 15px;
    font-size: 10px;
}

/*********************/
/*********************/
/* SEVENTH CONTAINER */
/*********************/
/*********************/

.SEVENTH-inner{
    padding: 60px 20px;
}

.Seventh-text h4{
    font-size: 16px;
    line-height: 1.6;
}


.break2{
    display: none;
}

.links-buttons a{
    padding: 6px 7px;
    background: #00d2ff;
    border-radius: 15px;
    font-weight: 80;
    transition: 0.4s;
    font-size: 13px;
    margin: 10px;
    
}

.links-buttons a:hover{
    color: #00d2ff;
    text-decoration-line: none;
    border: 1px solid #00d2ff;
    padding: 6px 7px;
    background: transparent;
    border-radius: 10px;
    font-weight: 80;
    cursor: pointer;
    
}

.links-buttons{
   display: flex;
   flex-direction: column;
   margin: 40px;
}

.Seventh-image{
    width:100%;
    padding-top: 35px;
}
.Seventh-image img{
    width: 99%;
}



/*********************/
/*********************/
/* EIGHT-CONTAINER */
/*********************/
/********************/


.EIGHT-INNER{
    padding: 60px 20px;
}

.copywright{
    flex: none;
    text-align: start;
    padding-left: 20px;
}






}



